<ng-container *ngIf="errors?.length > 0">
  <ul class="alert alert-danger">
    <li *ngFor="let error of errors">
      {{ error }}
    </li>
  </ul>
</ng-container>

<div class="card bg-dark text-white">
  <div class="card-header">
    {{titulo}}
  </div>
  <div class="card-body">

    <form #clienteForm="ngForm">
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <!-- <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" required minlength="4" #nombre="ngModel"> -->
          <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" #nombre="ngModel">
          <ng-container *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <ng-container *ngIf="nombre.errors.required">
              <div class="alert alert-danger">
                El nombre es requerido.
              </div>
            </ng-container>
            <ng-container *ngIf="nombre.errors.minlength">
              <div class="alert alert-danger">
                El nombre debe contener al menos 4 caracteres.
              </div>
            </ng-container>
          </ng-container>          
        </div>
      </div>
      
      <div class="form-group row">
        <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <!-- <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" required #apellido="ngModel"> -->
          <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" #apellido="ngModel">
          <ng-container *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
            <ng-container *ngIf="apellido.errors.required">
              <div class="alert alert-danger">
                El apellido es requerido.
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <!-- <input type="email" class="form-control" [(ngModel)]="cliente.email" name="email" required email #email="ngModel"> -->
          <input type="email" class="form-control" [(ngModel)]="cliente.email" name="email" #email="ngModel">
          <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
            <ng-container *ngIf="email.errors.required">
              <div class="alert alert-danger">
                El email es requerido.
              </div>
            </ng-container>
            <ng-container *ngIf="email.errors.email">
              <div class="alert alert-danger">
                El email debe tener un formato valido.
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <ng-container *ngIf="!cliente.id; else elseTemplate">
              <button class="btn btn-primary" role="button" (click)="create()" [disabled]="!clienteForm.form.valid">Crear</button>
          </ng-container>
          <ng-template #elseTemplate>
            <button class="btn btn-primary" role="button" (click)="update()" [disabled]="!clienteForm.form.valid">Actualizar</button>
          </ng-template>          
        </div>
      </div>

    </form>
  </div>
</div>
